# Lists ğŸ“‹

Here's a quick comparison between these 4 container data types:

| Feature | ğŸ§¾ List | ğŸ“š Dictionary | ğŸ”¢ Set | ğŸ“¦ Tuple |
|---------|---------|---------------|--------|----------|
| Syntax | `[item1, item2, ...]` | `{'key1': value1, 'key2': value2}` | `{item1, item2, ...}` | `(item1, item2, ...)` or `item,` |
| Type of Data | ğŸ”„ Sequence | ğŸ—ºï¸ Mapping | ğŸ¯ Set | ğŸ”„ Sequence |
| Order | ğŸ“ Ordered | ğŸ”€ Unordered | ğŸ”€ Unordered | ğŸ“ Ordered |
| Indexing | âœ… Yes (by index) | âœ… Yes (by key) | âŒ No | âœ… Yes (by index) |
| Duplicate Values | âœ… Allowed | ğŸ”‘ Values can be duplicated, keys cannot | âŒ Not allowed | âœ… Allowed |
| Mutability | âœï¸ Mutable | âœï¸ Mutable | âœï¸ Mutable | ğŸ”’ Immutable |
| Usage | ğŸ“Š For a collection of ordered items | ğŸ”‘ For key-value pairs | ğŸ¯ For unique items | ğŸ“ For fixed data |

## ğŸ“ **Notes**
- ğŸ“‹ Used to store multiple ordered items in a single variable.
- ğŸ”¨ Created using `[` and `]`.
- â³ We won't be going into everything that we can do in a list.
- ğŸª Common data types in lists: Integer, Float, String, Boolean, List, Dictionary, Tuple, Set, Object.
- ğŸ”„ You can include lists within lists (nested lists).
- ğŸ’¾ Easy to store information.

## ğŸ’ **Importance**
Versatile for storing sequences of data. Pandas can convert lists into Series or DataFrame objects for analysis. ğŸ“ŠğŸ¼

## ğŸ’» **Examples**

### ğŸ¯ Create a list of job skills that are common to data science roles:

In [5]:
# Define a list of data science jobs

job_skills = ['sql' , 'tableau' , 'execel']
job_skills

['sql', 'tableau', 'execel']

### ğŸ”¢ Indexing

What if we want to get a specific item in a list? We'd use list indexing.

Lists are indexed, which means each item has a numerical position, so you can access it by referring to the index number.

## ğŸ¯ **Key Points about List Indexing**

| Concept | Icon | Description | Example |
|---------|------|-------------|---------|
| **Zero-based** | 0ï¸âƒ£ | Indexing starts at 0, not 1 | First element is at index 0 |
| **Positive Index** | â• | Access from start (left to right) | `list[0]`, `list[1]`, `list[2]` |
| **Negative Index** | â– | Access from end (right to left) | `list[-1]`, `list[-2]`, `list[-3]` |
| **Index Range** | ğŸ“ | From 0 to (length - 1) | List of 5 items: indices 0-4 |

## ğŸ’» **Practical Examples**

In [6]:
# Get a specific item in the list
job_skills[1]

'tableau'

### âœï¸ Change Value

To change the value of a specific item, refer to its index number. Below we will change the 'tableau' skill (at index 1) to 'bigquery'.

## ğŸ¯ **Syntax**

In [7]:
# Change the value of an item
job_skills[1] ='bigquery'

job_skills

['sql', 'bigquery', 'execel']

# Methods âš™ï¸

## ğŸ“š **Definition**
- **Methods** are functions that belong to an object ğŸ¯
- Functions are blocks of code designed to perform a specific task ğŸ”§
- Methods use the notation: `object.method()`

## â• **Append() Method**

### ğŸ¯ **Purpose**
- Adds an item at the **end** of a list ğŸ“
- Modifies the original list directly âœï¸
- **In-place operation** - changes the list without creating a new one

### ğŸ“ **Syntax**
```python
list_name.append(item)

In [8]:
## Add a job to the list

job_skills.append('looker')

job_skills

['sql', 'bigquery', 'execel', 'looker']

### ğŸ“ Length()

If you want to see how many items are in a list use the `len()` function.

## ğŸ¯ **Purpose**
- Returns the number of items in a list ğŸ”¢
- Works with other data types too (strings, tuples, dictionaries, etc.)
- Essential for loops and list operations

## ğŸ“ **Syntax**

In [9]:
len(job_skills)

4

### ğŸ“ Insert

To insert a list item at a specified place (index), use `insert`. Here we are inserting the 'python' skill after 'bigquery'. So we will insert it at the index of `2`.

## ğŸ¯ **Purpose**
- Inserts an item at a specific position in the list ğŸ“
- Shifts existing items to the right ğŸ”„
- Modifies the original list in-place âœï¸

## ğŸ“ **Correct Syntax**

In [10]:
# Insert an item into the list
job_skills.insert(2,'python')

job_skills

['sql', 'bigquery', 'python', 'execel', 'looker']

In [12]:
# Insert an item into the list
job_skills.insert(2,'python')

job_skills

['sql', 'bigquery', 'python', 'python', 'python', 'execel', 'looker']

In [13]:
# Remove an item from the list
job_skills.remove('looker')
job_skills

['sql', 'bigquery', 'python', 'python', 'python', 'execel']

### Join Lists
There are a few ways to join (or concatenate) two or more lists.

#### ğŸ”— 1. Concatenate using the `+` operator

In [1]:
# Conactenate

skills1 = ['SQL' , 'Tableau']
skills2 = ['Excel']

skills3 = skills1 + skills2

skills3

['SQL', 'Tableau', 'Excel']

#### â• 2. Appending all items from the first list to the second using .append(). 
Here we're appending all items from skills3 to skills4 list. Don't worry we'll be going into for loops later but here's a preview of it.

In [15]:
# Append 
skills4 = ['Python', 'Power BI']

# Append all items from skills3 to skills4 list
for x in skills3:
    skills4.append(x)

skills4

['Python', 'Power BI', 'SQL', 'Tableau', 'Excel']

#### ğŸ“¤ 3. Using .extend() method to add elements from one list to another list. We are adding elements from the skills4 list to the skills5 list.

In [16]:
# Extend
skills5 = ['Statistics', 'Machine Learning']

skills5.extend(skills4)

skills5

['Statistics',
 'Machine Learning',
 'Python',
 'Power BI',
 'SQL',
 'Tableau',
 'Excel']

### ğŸ“Š Summary of Methods:

| Method | Icon | Description |
|--------|------|-------------|
| `+` | ğŸ”— | Creates a new list by combining two lists |
| `.append()` in loop | â• | Adds each element individually to existing list |
| `.extend()` | ğŸ“¤ | Adds all elements from one list to another |

### ğŸ”— Join()
The `.join()` method is used for concatenating a sequence of strings together with a specified separator. You need to add a specific separator (e.g. ', ') between each element during the concatenation process. This is used to format output for readability.

You can use this for lists, tuples and more. But in our case we'll mostly be using it for either lists or tuples. For lists specifically we are combining multiple strings from a list.

#### ğŸ“ Syntax:

In [17]:
skills = ['Python', 'SQL', 'Excel']

In [18]:
# Use concatenate print formatting
print('I have these skills: ' + ', '.join(skills))

I have these skills: Python, SQL, Excel


### ğŸ”ª Slicing Lists

#### ğŸ“Slicing Syntax::

-   Syntax:  `list[start:end:step]`
    -   `start`: The starting index (inclusive)
    -   `end`: The ending index (exclusive)
    -   `step`: Steps to take between items

In [2]:
skills = ['Python', 'SQL' , 'Excel']

# Extract the first two items

first_two = skills[0:2]
first_two

['Python', 'SQL']

In [3]:
full_list = skills[:]
full_list

['Python', 'SQL', 'Excel']

In [4]:
also_first_two = skills[:2]
also_first_two

['Python', 'SQL']

In [5]:
last_two = skills[1:]
last_two

['SQL', 'Excel']

In [23]:
last_one = skills[-3:]
last_one

['Python', 'SQL', 'Excel']

In [24]:
skills = ['Python', 'SQL', 'Excel', 'R', 'Java']

# Extract every second item starting from the first
every_second = skills[0::2]
every_second

['Python', 'Excel', 'Java']

### ğŸ“¦ Unpack List
To unpack a list (unpacking is when you assign each value in a list to a variable in a single statement) you can assign the list elements to variables directly.

#### ğŸ“ Basic Syntax:

In [7]:
job_skills = ["python" , "SQL" , "Tableau" , "Excel"]

# Unpacking the list
skill1, skill2, skill3, skill4 = job_skills

# Printing the unpacked variables
print(skill1)
print(skill2)
print(skill3)
print(skill4)

python
SQL
Tableau
Excel

### ğŸ“¦â• Extend Unpack List
To extend unpack a list is when you assign a subset of elements to a variable as a list using the asterisk `*` operator.

#### ğŸ“ Syntax:

In [11]:
# Unpacking the sql skills together and then unpacking the rest of the skills
*sql_skills, skill3, skill4 = job_skills

print(sql_skills)  # List of the SQL skills
print(skill3)  
print(skill4)

['python', 'SQL']
Tableau
Excel