# Tuples

## ðŸ“Š Quick Comparison Between Python Container Data Types

| Feature           | List ðŸ“                  | Dictionary ðŸ—‚ï¸              | Set ðŸŽ¯                     | Tuple ðŸ“¦                 |
|-------------------|--------------------------|----------------------------|----------------------------|--------------------------|
| **Syntax**        | `[item1, item2, ...]`    | `{'key1': value1, ...}`    | `{item1, item2, ...}`      | `(item1, item2, ...)`    |
| **Order**         | âœ… Ordered              | âŒ Unordered              | âŒ Unordered              | âœ… Ordered              |
| **Indexing**      | âœ… (by index)           | âœ… (by key)               | âŒ No                     | âœ… (by index)           |
| **Duplicate Values** | âœ… Allowed           | ðŸ”‘ Keys: âŒ, Values: âœ…  | âŒ Not allowed            | âœ… Allowed              |
| **Mutability**    | âœ… Mutable              | âœ… Mutable                | âœ… Mutable                | ðŸ”’ Immutable            |
| **Usage**         | Ordered collections     | Key-value pairs           | Unique items              | Fixed data              |

---

## ðŸ“ Notes About Tuples

- ðŸ—ƒï¸ Used to store multiple items in a single variable
- ðŸ” **Characteristics**:
  - ðŸ”¢ **Ordered** - Maintains insertion order
  - ðŸ”’ **Unchangeable** - Cannot modify after creation
  - ðŸ“ **Indexed** - Access elements by position
  - âœï¸ **Written with parentheses** `( )`

---

## ðŸ’¡ Importance & Use Cases

- âš¡ **Speed up operations** due to immutability
- ðŸ”’ **Immutable sequences** for fixed data
- ðŸ“Š **Common uses**:
  - ðŸ·ï¸ **Column names** in databases
  - ðŸ“ **Coordinates** in Matplotlib plots
  - ðŸ”‘ **Dictionary keys** (unlike lists)
  - ðŸ“‹ **Return multiple values** from functions

---

## ðŸŽ¯ Tuple Examples

We're going to create a tuple of data science skills.

In [1]:
# Define a tuple of a data science skills
job_skills = ('python' , 'sql' , 'statistics' , 'tableau')

job_skills

('python', 'sql', 'statistics', 'tableau')

### ðŸŽ¯ Get Item from Tuple

Getting an element from a tuple using indexing. To get the first item from a tuple we'll get it at the index of 0.

In [2]:
# Accessing an element
job_skills[0]

'python'

### âœ‚ï¸ Slicing Tuples

To only get part of a tuple we'll use slicing. To only get 'python' and 'sql' values we'll get everything before the index of 2.

In [3]:
# Define a set of data science skills

job_skills = ('python' , 'sql' , 'statistics' , 'tableau')
job_skills[:2]

('python', 'sql')

### âž• Add Items to Tuples

Since tuples are immutable (not changeable), they don't have a built-in append() method. But there are two methods:

In [4]:
job_skills.append('excel')

AttributeError: 'tuple' object has no attribute 'append'

### Method 1: Turn tuple into a list.

- First turn it into a list
- Then use the append() method
- Convert the list to a tuple

In [6]:
# Turn tuple into a list
job_skills_list = list(job_skills)

# Add skill to the list
job_skills_list.append('excel')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_list)

job_skills_tuple

('python', 'sql', 'statistics', 'tableau', 'excel')

## Method 2: Add tuple to a tuple

You can add tuples to tuples, which is good if you want to add one or more items.

- Create a new tuple with the items  
- Add it to the existing tuple  

### ðŸª² Debugging

This is an **intentional mistake**.

This is used to demonstrate debugging.

This won't raise an error, but it's not returning what we intended.  
Remember to double-check which variable you are returning.

**Mistake:** We are accidentally returning `job_skills_new_tuple` instead of the original tuple `job_skills`.

job_skills.remove('r')

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
3. Use a chatbot like ChatGPT or Claude
4. Look it up using Google

In [7]:
job_skills_new_tuple = ('r','postgresql',)
job_skills += job_skills_new_tuple

job_skills_new_tuple

('r', 'postgresql')

In [8]:
job_skills

('python', 'sql', 'statistics', 'tableau', 'r', 'postgresql')

### Join()
We already went over this for lists but remember the .join method is used for concatenating a sequence of strings together with a specified separator. You need to add a specific separator (e.g. ', ') between each element during the concatenation process.

For tuples specifically we are combining multiple strings from a tuple.

In [9]:
skills = ('Python' , 'SQL' , 'Excel')

In [10]:
# f-string formatting

print(f'I have these skills: {", ".join(skills)}')

I have these skills: Python, SQL, Excel

### Remove Items
Since tuples are unchangeable you can't remove items for it. But you can use a similar workaround that we used for changing and adding tuple items.

In [11]:
skills.remove('Excel')

AttributeError: 'tuple' object has no attribute 'remove'

### Remove()
Convert the tuple into a list, remove the item using remove() method, and convert it back to a tuple.

In [12]:
# Turn tuple into a list
job_skills_remove = list(job_skills)

# Remove skill from the list
job_skills_remove.remove('tableau')

# Convert list to a tuple
job_skills_tuple = tuple(job_skills_remove)

job_skills_tuple

('python', 'sql', 'statistics', 'r', 'postgresql')

### Del
Or you can use the del keyword to delete the tuple completely. If we try to show the job_skills are we delete it, it will return an error.

In [13]:
del job_skills
job_skills

NameError: name 'job_skills' is not defined

### range()
Now these 4 container data types we covered over the past few notebooks are not the only container data types.

The range() function generates a sequence of numbers. It is commonly used for looping a specific number of times in for loops.

In [14]:
range(5)

range(0, 5)

Note: range() isn't a tuple, it's its own datatype; but it's dang close and short, so we'll cover it here.

In [15]:
type(range(5))

range

But let's actually see inside of this object by converting it to a tuple.

In [16]:
tuple(range(5))

(0, 1, 2, 3, 4)

Syntax: The range() function can be called with one, two, or three arguments:

- range(stop): Generates numbers from 0 to stop-1 (read: stop minus 1)
- range(start, stop): Generates numbers from start to stop-1
- range(start, stop, step): Generates numbers from start to stop-1

In [17]:
list(range(2,5))

[2, 3, 4]

In [18]:
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]